# Flutter build artifacts
personnel/.dart_tool/
personnel/.flutter-plugins
personnel/.flutter-plugins-dependencies
personnel/pubspec.lock

# Node
node_modules/
.next/
.env.local

# OS
.DS_Store
Thumbs.db
